<html lang="ru"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список книг</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.6.0.min.css"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя тега</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tag:${tags}">
        <td th:text="${tag.id}"></td>
        <td th:text="${tag.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>